# App
NODE_ENV=
SERVER_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# Jest
COVERAGE=
COVERAGE_THRESHOLD_FUNCTIONS=
COVERAGE_THRESHOLD_LINES=
COVERAGE_THRESHOLD_STATEMENTS=
COVERAGE_THRESHOLD_BRANCHES=

# Market Stack
MARKET_STACK_BASE_URL=
MARKET_STACK_API_ACCESS_KEY=
